.form-fild {
    margin-bottom: 10px;
}

.feedback {
    margin-bottom: 20px;
}

.form-fild__input {
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    font-family: inherit;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--timing-function);
}

.form-fild__input:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.form-fild:focus-within .form-fild__icon {
    fill: var(--accent-color);
}

.feedback__form-fild {
    width: 100%;
    height: 120px;
    padding: 12px;
    font-family: inherit;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--timing-function);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.feedback__form-fild:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.form-fild__input::placeholder {
    color: var(--text-color);
}

.form-fild__label {
    display: block;
    margin-bottom: 4px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;
}

.form-fild__inner {
    position: relative;
}

.form-fild__icon {
    position: absolute;
    left: 12px;
    top: 50%;

    width: 18px;
    height: 18px;
    transform: translateY(-50%);

    display: flex;
    transition: fill var(--timing-function);
}

.checkbox {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;
}

.checkbox__icon {
    display: inline-block;
    margin-right: 8px;

    width: 16px;
    height: 15px;
    border-radius: 2px;

    border: 2px solid var(--title-color);
    transition: background-color var(--timing-function), border-color var(--timing-function);
}

.checkbox__input:checked~.checkbox__icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-size: contain;
}

.checkbox__input {
    margin-right: 7px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-fild__link {
    color: var(--accent-color);
}

.form-fild__button {
    justify-content: center;
    display: flex;
    align-items: center;
}

.fild-button:hover,
.fild-button:focus {
    background-color: var(--background-svg);
}